body {
    margin: 0;
    overflow: hidden;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    position :relative;
    /* border:2px solid red; */
}

.title-bar {
    height: 5vh;
    /* border:2px solid green; */
    background-color: rgb(16, 124, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.menu-bar {
    height: 5vh;
    /* border:2px solid blue; */
    background-color: rgb(16, 124, 65);
    display: flex;

}

.menu-item {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.menu-item.selected {
    background-color: rgb(241, 241, 241);
    color: rgb(16, 124, 65);
}

.menu-item:hover {
    background-color: rgb(12, 97, 50);
    cursor: pointer;
}

.menu-item.selected:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.menu-icon-bar {
    height: 6vh;
    /* border:2px solid pink; */
    display: flex;
    align-items: center;
    background-color: rgb(241, 241, 241);
}

.menu-icon {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-icon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.font-family-selector {
    width: 150px;
    font-family:Arial;
}
.selector {
    height: 70%;
    font-size: 18px;
}

.selector option {
    font-size: 18px;
}

.formula-bar {
    height: 5vh;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-left:0.7rem;
    padding-right:0.7rem;
    background-color: rgb(241, 241, 241);
    /* border:2px solid orange; */
}

.data-container {
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    /* border:2px solid black; */
}

.select-all {
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
}

.column-name-container {
    width: calc(100vw - 30px);
    height: 30px;
    border: 1px solid lightgrey;
    display: flex;
    overflow:hidden;
}

.row-name-container {
    width: 30px;
    height: calc(75vh - 30px);
    border: 1px solid lightgrey;
    overflow:hidden;
}

.input-cell-container {
    width: calc(100vw - 30px);
    height: calc(75vh - 30px);
    border: 1px solid lightgrey;
    overflow:scroll;
}

.sheet-bar {
    height: 4vh;
    /* border:2px solid yellow; */
    display: flex;
    align-items: center;
}

.scroller {
    width: 70px;
    /* border:2px solid purple; */
}

.icon-left-scroll,
.icon-right-scroll {
    font-size: 30px;
}

.icon-left-scroll:hover,
.icon-right-scroll:hover {
    background-color: lightgray;
    cursor: pointer;
}

.icon-add {
    color: rgb(16, 124, 65);
    width: 40px;
    padding-left: 10px;
    padding-right: 45px;
}

.icon-add:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.sheet-tab-container {
    border: 1px solid lightgray;
    width: calc(100vw - 110px);
    display:flex;
}

.sheet-tab {
    /* border-bottom: 4px solid #107c41; */
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-right: 1px solid lightgray;
}

.sheet-tab.selected
{
    border-bottom: 4px solid #107c41;  
}
.sheet-tab:hover {
    cursor: pointer;
    background-color: lightgray;
}
.sheet-tab.selected:hover {
    cursor: default;
    background-color: white;
}
.column-name {
    min-width: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
    font-weight: bold;
}

.row-name {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    border-bottom: 1px solid lightgrey;
}

.cell-row {
    display: flex;
}

.input-cell {
    min-width: 99px;
    height: 25px;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    outline-color:#107c41;
    font-size:14px;
    font-family:"Arial";
}
.input-cell.selected 
{
    border:2px solid #107c41;
}
.formula-editor 
{
    height:70%;
    border:1px solid lightgray;
    background-color: white;
    padding-left:0.7rem;
    padding-right:0.7rem;
    display:flex;
    align-items:center;
}
.selected-cell 
{
    width:120px;
}
.function-sign
{
width:40px;
display:flex;
justify-content:center;
align-items:center;
}
.formula-input 
{
    width:calc(100vw - 160px);
    outline-color:#107c41;
}
.menu-icon.selected
{
    background-color:lightgrey;
}
.input-cell.top-cell-selected 
{
    border-top:none;
}
.input-cell.bottom-cell-selected 
{
    border-bottom:1px solid lightgray;
}
.input-cell.right-cell-selected 
{
    border-right:1px solid lightgray;
}
.input-cell.left-cell-selected 
{
border-left:none;
}

.color-picker
{
    position:absolute;
    padding:0;
    border:none;
    width: 26px;
    height:12px;
    top:29px;
    left:9px;
    cursor:pointer;
}
.icon-color-fill,.icon-color-text
{
    position:relative;
}
.sheet-options-modal
{
    position:absolute;
    bottom:4vh;
    background-color: #fff;
    height:60px;
    width:70px;
    /* left:50px; */
    box-shadow:0 0 3px 1px lightgray;
}
.sheet-rename,.sheet-delete
{
    height:30px;
    font-weight:500;
    font-size:16px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.sheet-delete:hover,.sheet-rename:hover
{
background-color:lightgray;
cursor:pointer;
}

.sheet-rename-modal
{
    position: absolute;
    height:180px;
    width:300px;
    top: calc(100vh / 2 - 90px);
    left: calc(100vw / 2 - 150px);
    background-color: white;
    text-align:center;
    box-shadow:0 0 3px 1px lightgray; 
}

.action-buttons
{
    display:flex;
    justify-content:space-evenly;
    margin-top:20px;
    margin-bottom:20px;
}

.modal-title
{
    font-size: 20px;
}

.new-sheet-name
{
height: 26px;
font-size: 18px;
border-color: #107c41;
}

.submit-button
{
    cursor:pointer;
    background-color: #107c41;
    color:white;
    padding:8px;
}
.cancel-button
{
    cursor:pointer;
    background-color:lightgray;
    padding:8px;
}